<body>
    <img src="imagini\contact.png" alt="login" style="position: absolute;right:20px;top:970px" width="600" height="400"><br><br>

    <div class="item">
        <div class="contact" style=" background-color: #f1574d;">
            <i class="fa fontawesome-icon fa-home circle-yes"></i>
        </div>

    </div>

    <p class="contacttext">
        SC AutoCam SRL <br>Str. Aeroportului nr. 8C Iași, Romania
    </p><br>

    <div class="item">

        <div class="contact" style=" background-color: #a7c9e7; margin-top: 50px;">
            <i class="fa fontawesome-icon fa-clock-o circle-yes"></i>
        </div>
    </div><br><br>
    <p class="contacttext">
        Luni-Vineri: 8:00 – 20:00 <br> Sambătă: 8:00 – 17:00 <br> Duminică: Închis
    </p>

    <div class="item">
        <div class="contact" style=" background-color: #50586b;margin-top: 50px;">
            <i class="fa fontawesome-icon fa-phone circle-yes"></i>
        </div>
    </div><br><br>
    <p class="contacttext">
        Rezervări: (004) 0740.50.60.70 <br> Asistență: (004) 0758.80.88.69 <br>Office: (004) 0334.808.168
    </p>
    <div class="item">
        <div class="contact" style=" background-color: #66babd;margin-top: 50px;">
            <i class="fa fontawesome-icon fa-envelope-o circle-yes"></i>
        </div>
    </div><br><br>
    <p class="contacttext">
        office@autocam.ro<br> rezervari@autocam.ro <br>manager@autocam.ro
    </p>
    </div>

</body>