<body>

    <p class="ptitlu">AutoCam</p>
    <p class="ptitlu">– închirieri auto –</p>

    <p style="color: darkred; font-size:20px;float: left;margin-left: 100px;margin-right: 100px;">
        <b>   
            &emsp;&emsp;AutoCam Rent-a-Car este o companie ce închiriază autovehicule atât pe termen scurt cât și pe termen lung. 
                Oferim spre închiriere autoturisme variate la cele mai competitive prețuri. Avem o echipă de oameni calificați gata să vă 
                sfătuiască în a lua decizia
                perfectă cu privire la mașina închiriată. <br>
            &emsp;&emsp;Toate mașinile pe care le închiriem au o vechime mică și sunt revizionate periodic pentru ca siguranța ta contează
                pentru noi. Suntem foarte atenți cu clienții noștrii pentru a beneficia de cele mai bune
                servicii de „rent a car” de pe piață. Oferim spre închiriere mașini de calitate la prețuri mici într-o colaborare la standard European.
        </b>
    </p>


    <div style="margin-top: 300px;">
        <p>
            <img src="imagini/despre1.jpg" width="400 " height="300" style="float:left;margin-left: 100px; ">
            <p class="ptitlu">Ce oferim</p>
            <ul>
                <li>Închiriere auto pe termen scurt/lung</li>
                <li> Prețuri competitive</li>
                <li>Ridicarea mașinii de unde dorești</li>
                <li> Asistență rutieră 24/7</li>
                <li> Accesorii adiționale (scaun auto, GPS)</li>
                <li>Reducere în funcție de perioada închirierii</li>
            </ul>
        </p>
    </div>

    <div style="margin-top: 300px;">
        <img src="imagini\logo\audi.png" style="float:left;margin-left:50px;" width="200" height="100">
        <img src="imagini\logo\opel.png" style="float:left;margin-left:50px;" width="200" height="100">
        <img src="imagini\logo\dacia.png" style="float:left;margin-left:50px;" width="200" height="100">
        <img src="imagini\logo\renault.png" style="float:left;margin-left:50px;" width="200" height="100">
        <img src="imagini\logo\toyota.png" style="float:left;margin-left:50px;" width="200" height="100">
        <img src="imagini\logo\skoda.png" style="float:left;margin-left:50px;" width="200" height="100">
    </div>

    <div style="margin-top: 600px;">
        <p>
            <img src="imagini/despre2.jpg" width="400 " height="300" style="float:right;margin-right: 100px; ">
            <p class="ptitlu">Beneficiile AutoCam</p>
            <ul>
                <li>Un excelent raport preț/calitate</li>
                <li>Vehicule în perfectă stare tehnică</li>
                <li>Număr de kilometri necontorizați</li>
                <li>Asistență telefonică de încredere</li>
                <li>Asigurare CASCO</li>
            </ul>

        </p>
    </div>

    <p class="ptitlu">Vezi părerea clienților referitoare la mașinile noastre</p>



    <button type="button" class="button" style="position: absolute;left: 470px;" onclick="loadDoc()">Afișează recenzii</button>
    <br><br>
    <table style="position: absolute;left: 210px;" id="demo"></table>

    <script src="/script.js"></script>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>