<body>
    <%if(mesaj){%>
        <h2 class="ptitlu" style="color: darkred;">
            Bine ai venit,
            <%=mesaj%>!
        </h2>
        <%}%>

            <div>

                <p class="ptitlu">Avantajele când închiriezi de la noi </p>


                <div class="item">
                    <img src="imagini\background\advantage-icon-1.png" style="float:left;margin-left:140px;">
                    <p style="float:left;margin-left:140px;">Kilometri nelimitați</p>
                </div>

                <div class="item">
                    <img src="imagini\background\advantage-icon-2.png" style="float:left;margin-left:160px;">
                    <p style="float:left;margin-left:160px;">Un șofer adițional inclus</p>
                </div>

                <div class="item">
                    <img src="imagini\background\advantage-icon-3.png" style="float:left;margin-left:180px;">
                    <p style="float:left;margin-left:200px;">Fără taxe ascunse</p>
                </div>

                <div class="item">
                    <img src="imagini\background\advantage-icon-4.png" style="float:left;margin-left:200px;">
                    <p style="float:left;margin-left:200px;">Program NonStop</p>
                </div>

                <div class="item">
                    <img src="imagini\background\advantage-icon-5.png" style="float:left;margin-left:220px;">
                    <p style="float:left;margin-left:240px;">Plata cu cardul</p>
                </div>

                <div class="item">
                    <img src="imagini\background\advantage-icon-6.png" style="float:left;margin-left:240px;">
                    <p style="float:left;margin-left:240px;">Politica de combustibil Plin cu Plin</p>
                </div>
            </div><br><br><br>

            <div style="margin-top:200px; " class="box">
                <p class="ptitlu" style="color: white;">Părerea clienților</p>
                <div class="parere_client">
                    <img src="imagini/users/user1.jpg" alt="Avatar" style="width:80%;">
                    <p>M-am întors în Germania după o vacanță în România. Vreau să vă mulțumesc pentru serviciul excelent și profesionist. Șoferul care ne-a așteptat la aeroport a fost foarte deschis și a glumit. Mașina pe care am avut-o la dispoziție ulterior
                        a fost într-o stare foarte bună și nu am avut nicio problemă. </p>

                </div>

                <div class="parere_client darker">
                    <img src="imagini/users/user2.jpg" alt="Avatar" class="right" style="width:80%;">
                    <p>Vă mulțumesc pentru profesionalismul de care ați dat dovadă. Mașina pe care am avut-o a fost într-o stare excepțională. Nu am decât cuvinte de lauda la adresa firmei AutoCam. Recomand!!</p>

                </div>
                <div class="parere_client">
                    <img src="imagini/users/user3.jpg" alt="Avatar" style="width:80%;">
                    <p>Am avut nevoie de o mașină în plus în momentul în care a mea a fost în service. Totul a decurs excelent. Cu siguranța voi reveni la AutoCam.</p>

                </div>
                <div class="parere_client darker">
                    <img src="imagini/users/user4.jpg" alt="Avatar" class="right" style="width:80%;">
                    <p>Societate de încredere!! Tarife avantajoase, contact agreabil!! Recomand!</p>

                </div>

            </div><br><br><br>

            <div style="margin-top:700px; ">

                <p class="ptitlu ">Alege o mașină din flota noastră de autovehicule</p>

                <div class="slideshow-container">

                    <div class="mySlides fade">
                        <img src="imagini\background\masina4.jpg" style="width:100% ">
                        <div class="text ">CHEVROLET MINI 2019</div>
                    </div>

                    <div class="mySlides fade ">
                        <img src="imagini\background\masina2.jpg " style="width:100% ">
                        <div class="text ">RENAULT COMPACT 2018</div>
                    </div>

                    <div class="mySlides fade ">
                        <img src="imagini\background\masina12.jpg " style="width:100% ">
                        <div class="text ">VOLKSWAGEN TIGUAN 2020</div>
                    </div>

                    <a class="prev " onclick="plusSlides(-1) ">&#10094;</a>
                    <a class="next " onclick="plusSlides(1) ">&#10095;</a>

                </div>
                <br>

                <div style="text-align:center ">
                    <span class="dot " onclick="currentSlide(1) "></span>
                    <span class="dot " onclick="currentSlide(2) "></span>
                    <span class="dot " onclick="currentSlide(3) "></span>
                </div>
            </div>
            <br><br>

            <script src="/script.js"></script>


            <div class="box">

                <p class="ptitlu" style="color: white;">Închirieri auto Iași</p>

                <div class="square" style="float: left;margin-left: 70px; margin-top: 15px; margin-bottom: 15px;">
                    <p class="ptext">2596</p>
                    <p class="ptext" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;">Clienți mulțumiți</p>
                </div>
                <div class="square" style="float: left;margin-left: 50px;margin-top: 15px;">
                    <p class="ptext">15</p>
                    <p class="ptext" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;">Mașini disponibile</p>
                </div>
                <div class="square" style="float: left;margin-left: 50px;margin-top: 15px;">
                    <p class="ptext">8 </p>
                    <p class="ptext" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;">Mărci închiriate</p>
                </div>
                <div class="square" style="float: left;margin-left: 50px;margin-top: 15px;">
                    <p class="ptext">3</p>
                    <p class="ptext" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 20px;">Locații</p>
                </div>
            </div>



            <div style="float:left; margin-left:10px;margin-top: 300px; padding-left:10px; ">

                <img src="imagini\background\gallery-img01.jpg " width="290 " height="260 ">
                <img src="imagini\background\gallery-img02.jpg " width="290 " height="260 ">
                <img src="imagini\background\gallery-img03.jpg " width="290 " height="260 ">
                <img src="imagini\background\gallery-img04.jpg " width="290 " height="260 ">
                <img src="imagini\background\gallery-img05.jpg " width="290 " height="260 ">
            </div>


</body>