<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <title>AutoCam</title>
    <link rel="shortcut icon" href="imagini\favicon.png">
    <meta charset="utf-8">
    <link href="/css/stil.css" rel="stylesheet" type="text/css">
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->
    <script src="/script.js"></script>

</head>

<body>

    <main id="continut">

        <div class="topnav">
            <div class="topnav-right">
                <a href="/"><i class="fa fa-fw fa-home"></i>ACASĂ</a>&nbsp;&nbsp;
                <a href="/despre"><i class="fa fa-fw fa-search"></i> DESPRE NOI</a>&nbsp;&nbsp;
                <a href="/masini"> <i class="fa fa-fw fa-car"></i>MAȘINI</a>&nbsp;&nbsp;
                <a href="/contact"><i class="fa fa-fw fa-phone"></i>CONTACT</a>&nbsp;&nbsp;
                <a href="/autentificare"><i class="fa fa-fw fa-user"></i>AUTENTIFICARE</a>&nbsp;&nbsp;
                <a href="/delogare"><i class="fa fa-fw fa-sign-out"></i>DECONECTARE</a>&nbsp;&nbsp;
            </div>
        </div>
        <div class="banner" style=" background-image: url('./imagini/background/main-slider-04.jpg');"></div>
        <button onclick="topFunction()" id="myBtn">^</button>
        <br><br>

        <%-body-%>

    </main>

    <footer>
        &copy; Copyright 2021 AutoCam Car Rental | All Rights Reserved
    </footer>


</body>

</html>